.ReactGallery {
  width: 100%;
  -webkit-transition: all ease-in 0.5s;
  -moz-transition: all ease-in 0.5s;
  -ms-transition: all ease-in 0.5s;
  -o-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s; }
  .ReactGallery__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap; }
  .ReactGallery__item {
    position: relative;
    min-width: 400px;
    flex: 2;
    max-height: 250px;
    overflow: hidden;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    animation: galleryItemFadeIn .5s; }
    @media screen and (max-width: 450px) {
      .ReactGallery__item {
        min-width: calc(100% - 10px); } }
    .ReactGallery__item img {
      width: 150%;
      margin-left: -20%; }
  .ReactGallery__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline; }
    @media screen and (min-width: 1300px) {
      .ReactGallery__filter {
        justify-content: center; } }
    .ReactGallery__filter .button {
      margin: 5px; }
  .ReactGallery__filter-header {
    font-family: "Montserrat", sans-serif;
    margin-right: 20px;
    margin-left: 5px;
    width: 100%; }
    @media screen and (min-width: 1300px) {
      .ReactGallery__filter-header {
        width: auto; } }
  .ReactGallery .ReactGallery-item__text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    -webkit-transition: all ease-in 0.5s;
    -moz-transition: all ease-in 0.5s;
    -ms-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
    transition: all ease-in 0.5s; }
    .ReactGallery .ReactGallery-item__text:hover {
      background: rgba(0, 0, 0, 0.81); }
      .ReactGallery .ReactGallery-item__text:hover .ReactGallery-item__details, .ReactGallery .ReactGallery-item__text:hover .ReactGallery-item__description {
        opacity: 1; }
  .ReactGallery .ReactGallery-item__title {
    font-size: 2rem;
    z-index: 100;
    color: white;
    font-family: "Poiret One", cursive;
    margin: 0px 0px 10px 0px; }
  .ReactGallery .ReactGallery-item__description {
    color: white;
    opacity: 0;
    text-align: justify;
    -webkit-transition: all ease-in 0.5s;
    -moz-transition: all ease-in 0.5s;
    -ms-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
    transition: all ease-in 0.5s; }
  .ReactGallery .ReactGallery-item__details {
    opacity: 0;
    align-self: flex-end;
    justify-self: flex-end;
    text-align: right;
    padding: 10px;
    -webkit-transition: all ease-in 0.5s;
    -moz-transition: all ease-in 0.5s;
    -ms-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
    transition: all ease-in 0.5s; }
    .ReactGallery .ReactGallery-item__details:hover {
      opacity: 1; }

@keyframes galleryItemFadeIn {
  from {
    left: -40px;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }

/*# sourceMappingURL=ReactGallery.css.map */
