$item-padding: 10px;
$default-gallery-font: "Montserrat", sans-serif;
$header-gallery-font: "Poiret One", cursive;

$media-desktop: "screen and (min-width : 1300px)";

@mixin transition-ease-in($time) {
  -webkit-transition: all ease-in $time;
  -moz-transition: all ease-in $time;
  -ms-transition: all ease-in $time;
  -o-transition: all ease-in $time;
  transition: all ease-in $time;
}

.ReactGallery {
  width: 100%;
  @include transition-ease-in(.5s);

  &__header {

  }
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__item {
    @media screen and (max-width: 450px) {
      min-width: calc(100% - 10px);
    }
    position: relative;
    min-width: 400px;
    flex: 2;
    //max-width: calc(25% - 20px);
    max-height: 250px;
    overflow: hidden;
    margin: $item-padding;
    font-family: $default-gallery-font;

    animation: galleryItemFadeIn .5s;
    //@for $i from 1 through 10 {
    //  &:nth-child(#{$i}n) {
    //    animation-delay: #{$i * 0.02}s;
    //  }
    //}
    img {
      width: 150%;
      margin-left: -20%;
    }

  }
  &__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    @media #{$media-desktop} {
      justify-content: center;
    }
    .button {
      margin: 5px;
    }
  }
  &__filter-header {
    font-family: $default-gallery-font;
    margin-right: 20px;
    margin-left: 5px;
    width: 100%;
    @media #{$media-desktop} {
      width: auto;
    }
  }
  .ReactGallery-item {
    &__text {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: $item-padding * 2;

      @include transition-ease-in(.5s);

      &:hover {
        background: rgba(0, 0, 0, 0.81);
        .ReactGallery-item__details, .ReactGallery-item__description {
          opacity: 1;
        }
      }
    }
    &__title {
      font-size: 2rem;
      z-index: 100;
      color: white;
      font-family: $header-gallery-font;
      margin: 0px 0px 10px 0px;
    }
    &__description {
      color: white;
      opacity: 0;
      text-align: justify;
      @include transition-ease-in(.5s);

    }
    &__details {
      opacity: 0;
      align-self: flex-end;
      justify-self: flex-end;
      text-align: right;
      padding: $item-padding;
      @include transition-ease-in(.5s);

      &:hover {
        opacity: 1;
      }
      .button {
      }
    }
  }
}

@keyframes galleryItemFadeIn {
  from {
    left: -40px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1
  }
}